* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(238, 122, 142);
    height: 100vh;
    display: flex;
    background-position: fixed;
    background-size: cover;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 4px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px rgba(0, 0, 0, 0);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 1px;
    position: absolute;
    border-radius: 8px;
    background: #0f0b0b;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}