@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Playfair Display', serif;
    display: grid;
    background-color: rgb(245, 142, 160);
    background-image: url("new.jpeg");
    align-content: center;
    min-height: 100vh;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
}

.image {
    background: url("images/about.jpg") center/cover no-repeat;
    height: 60%;
    width: 60%;
    background-size: 50%;
    padding: 0px;
    border-radius: 80%;
    background-position: center;
    margin-top: 15%;
    box-shadow: 0 0 20px #0c0c0c;
}

h1 {
    position: absolute;
    bottom: 130px;
    left: 220px;
    color: rgb(8, 8, 8);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
    background: rgb(167, 160, 160);
    border-style: groove;
    border-radius: 10%;
    box-shadow: 0 0 20px #0a0a0a;
    border-color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content h2 {
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}

.content span {
    height: 3.5px;
    width: 280px;
    background: rgb(14, 13, 13);
    margin: 10px 0;
}

.content p {
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    color: rgb(0, 0, 0)
}

.links {
    margin: 15px 0;
}

.links li {
    border: 0.5px solid #777;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}

.links li a {
    text-transform: uppercase;
    color: #777;
    text-decoration: none;
}

.links li:hover {
    border-color: #06d6a0;
}

.links li:hover a {
    color: #06d6a0;
}

.vertical-line {
    height: 30px;
    width: 0.5px;
    background: #777;
    margin: 0 auto;
}

.icons {
    display: flex;
    padding: 15px 0;
}

.icons li {
    display: block;
    padding: 5px;
    margin: 5px;
}

.icons li i {
    font-size: 26px;
    opacity: 0.8;
}

.icons li i:hover {
    color: #06d6a0;
}


/*******/

@media(max-width: 992px) {
    section {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .image {
        height: 100vh;
    }
    .content {
        height: 100vh;
    }
    .content h2 {
        font-size: 20px;
        margin-top: 50px;
    }
    .content span {
        margin: 20px 0;
    }
    .content p {
        font-size: 14px;
    }
    .links li a {
        font-size: 14px;
    }
    .links {
        margin: 5px 0;
    }
    .links li {
        padding: 6px 10px;
    }
    .icons li i {
        font-size: 15px;
    }
}