body{

    /*background-color:rgb(146, 237, 240);*/
    background-color:rgb(252, 153, 142);
    justify-content: center;
    align-items: center;
}
.box{
    border: 1px;
    border-style:groove;
    margin-top: 20px;
    padding:0%;
    width: 900px;
    height: 100px;
    margin: 90px auto;
    background: rgb(247, 247, 135);
    position: relative;
    border-color: black;

    
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-size: large;
    border-style: groove;
    border-color: black;
}
.webinar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-size: large;
    border-style: groove;
    border-color: black;
}
h1{
    color: rgb(17, 16, 17);
}
h2{
    color: rgb(12, 12, 12);
    letter-spacing: 2.0px;
}
h3{
    color: black;
    font-size:larger;
}
li{
    color: ivory;
    font-size: large;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style:symbols("->");
    letter-spacing: 2.5px;
}
.inside{
    padding:inherit;
}